body {
	text-align: center;
	padding: 0 2em;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #F37B1D;
	font-size: 5em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 3em;
	color: #888;
	margin-top: 0px;
	padding-top: 0px;
}
p, strong {
	font-size: 1.5em;
}
a.pure-button {
	font-size: 2em;
}
div.social__container {
	margin-top: 1em;
}
div.social__container a {
	margin: 0 5px;
}
img {
	border: 10px solid #ccc;
	border-radius: 3em;
	margin-bottom: 1em;
}
